<br><br><br>

<h2><%= @target_user.user_name %> has been added to your Friends!</h2>


<div>
  <h3><%= link_to "Go to #{@target_user.user_name}\'s Profile", user_path(@target_user) %></h3>
</div>


<br><br>

<div>
  <h4><%= link_to 'Back to Browse Users', users_path %></h4>
</div>


<div>
  <h4><%= link_to 'Back to View Galleries', search_for_galleries_path %></h4>
</div>


<br><br><br>
<div>
  <h4><%= link_to 'Back to Main Page', root_path %></h4>
</div>
