<h1>Edit image</h1>
<%@image = Image.find(params[:id])%>
<%=form_tag(user_gallery_images_path(current_user.id, params[:gallery_id])) do %>
<%=label_tag :title%>
<%=text_field_tag :title, @image.title%>
<%=label_tag :artist%>
<%=text_field_tag :artist, @image.artist%>
<%=label_tag :medium%>
<%=text_field_tag :medium, @image.medium%>
<%=submit_tag "submit"%>
<%end%>
