<h1>See all images in this gallery:</h1>

<% @images.each do |image| %>

  <div>
    <%= image_tag image.image.url %><br>
    Title: <%= image.title %><br>
    Artist: <%= image.artist %><br>
    Medium: <%= image.medium %><br>


    <% if params[:gallery_id].to_i == current_user.id %>
      <%= link_to "Edit Image Info", edit_user_gallery_image_path(current_user, params[:gallery_id], image) %>

    <% end %>

  </div>
  <br><br>



<% end %>

<br><br>
<div>
  <%= link_to "Back to Edit Gallery", user_gallery_path(current_user, params[:gallery_id]) %>
</div>
