<h1>See all images in this gallery:</h1>

<% @images.each do |image| %>

  <div>
    <%= image_tag image.image.url %><br>
    Title: <%= image.title %><br>
    Artist: <%= image.artist %><br>
    Medium: <%= image.medium %><br>

      <%= link_to "Edit Image Info", edit_user_gallery_image_path(current_user, params[:gallery_id], image) %><br>
      <%= link_to "Delete Image", user_gallery_image_path(current_user, params[:gallery_id], image), method: 'delete' %>

  </div>
  <br><br>

<% end %>

<br>
<div>
  <p><%= link_to 'Add Images to Gallery', new_user_gallery_image_path(current_user.id, params[:gallery_id]) %></p>
</div>

<br>
<div>
  <h3><%= link_to 'View Published Gallery', view_published_gallery_path(params[:gallery_id]) %></h3>
</div>

<br><br>
<div>
  <%= link_to "Back to Edit Gallery", user_gallery_path(current_user, params[:gallery_id]) %>
</div>
