<h1>Create new image</h1>

<%= form_tag(user_gallery_images_path(current_user, params[:gallery_id]), :multipart => true) do %>
  <%= label_tag(:image)%>
  <%= file_field_tag("image[image]") %><br>
  <%= label_tag(:title)%>
  <%= text_field_tag("image[title]") %><br>
  <%= label_tag(:artist)%>
  <%= text_field_tag("image[artist]") %><br>
  <%= label_tag(:medium)%>
  <%= text_field_tag("image[medium]") %><br>
  <%= submit_tag %>
<% end %>
