<h1>Create new image</h1>

<div>
  <% if @image.errors.any? %>
    <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>
    <ul>
    <% @image.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
</div>

<%= form_tag(user_gallery_images_path(current_user, params[:gallery_id]), :multipart => true) do %>
  <%= label_tag(:image)%>
  <%= file_field_tag("image[image]") %><br>
  <%= label_tag(:title)%>
  <%= text_field_tag("image[title]") %><br>
  <%= label_tag(:artist)%>
  <%= text_field_tag("image[artist]") %><br>
  <%= label_tag(:medium)%>
  <%= text_field_tag("image[medium]") %><br>
  <%= hidden_field_tag "image[gallery_id]", params[:gallery_id].to_i %>
  <%= submit_tag %>
<% end %>

<br><br>
<div>
  <%= link_to "Back to Edit Gallery", user_gallery_path(current_user, params[:gallery_id]) %>
</div>
