<br><br><br>

<div><h2>Edit Gallery:</h2></div>

<% @gallery = Gallery.find(params[:id])%>
<div>
  <% if @gallery.errors.any? %>
    <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>
    <ul>
    <% @gallery.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
</div>


<div>
  <%= form_tag(user_gallery_path(current_user.id, @gallery), :method => :patch) do %>
  <%= label_tag(:name)%>
  <%= text_field_tag("gallery[name]", @gallery.name) %><br>
  <%= label_tag(:theme)%>
  <%= text_field_tag("gallery[theme]",@gallery.theme) %><br>
  <%= label_tag(:blurb)%>
  <%= text_area_tag("gallery[blurb]", @gallery.blurb) %><br><br><br>
    <h3>Choose Custom Settings:</h3>
    <%= label_tag :theme_name %>
    <%= collection_select("gallery", :current_setting_id, Setting.where(gallery_id: @gallery.id), :id, :theme_name, {selected: Setting.find(@gallery.current_setting_id)}) %>
    <br><br><br>
  <%= submit_tag %>
  <% end %>
</div>



<br><br><br>
<div>
  <h4><%= link_to 'Edit Custom Settings', edit_user_gallery_setting_path(current_user.id, @gallery.id)%></h4>
</div>

<br><br>
<div>
  <h4><%= link_to 'Delete Gallery', user_gallery_path, method: 'delete' %></h4>
</div>

<br><br>
<div>
  <h4><%= link_to 'Back to Gallery', user_gallery_path(current_user.id, @gallery)%></h4>
</div>

<br><br><br>
<div>
  <h4><%= link_to 'Back to Main Page', root_path %></h4>
</div>


<br><br><br>
