<div><h1>Edit Gallery</h1></div>

<div>
  <% if @gallery.errors.any? %>
    <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>
    <ul>
    <% @gallery.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
</div>


<div>
  <%= form_tag(current_user, @gallery) do %>
  <%= label_tag(:name)%>
  <%= text_field_tag("gallery[name]") %><br>
  <%= label_tag(:theme)%>
  <%= text_field_tag("gallery[theme]") %><br>
  <%= label_tag(:blurb)%>
  <%= text_field_tag("gallery[blurb]") %><br>
  <%= submit_tag %>
  <% end %>
</div>



<br>
<div>
  <%= link_to 'Custom Settings', edit_setting_path%>
</div>

<br>
<div>
  <p><%= link_to 'Delete Gallery', user_gallery_path, method: 'delete' %></p>
</div>

<br>
<div>
  <p><%= link_to 'Gallery Index', galleries_path %></p>
</div>

<br>
<div>
  <h2><%= link_to 'Back to User Index', users_path %></h2>
</div>
