<br><br><br>

<div>
  <h2><%= @gallery.name %></h2>
  Created by: <%= @gallery.user.user_name %><br>
  Theme: <%= @gallery.theme %><br>
  Blurb: <%= @gallery.blurb %><br>
</div>

<br><br>
<div>
  <h4><%= link_to 'View Published Gallery', view_published_gallery_path(@gallery) %></h4>
</div>

<br>
<div>
  <p><%= link_to 'Edit Gallery Info & Change Custom Settings', edit_user_gallery_path(@gallery) %></p>
</div>

<br>
<div>
  <p><%= link_to 'Create New Custom Settings', new_user_gallery_setting_path(current_user.id, params[:id]) %></p>
</div>

<br>
<div>
  <p><%= link_to 'Edit Custom Settings', user_gallery_settings_path(current_user.id, params[:id]) %></p>
</div>

<br>
<div>
  <p><%= link_to 'Add Images to Gallery', new_user_gallery_image_path(current_user.id, @gallery.id) %></p>
</div>

<br>
<div>
  <p><%= link_to 'Edit Images in Gallery', user_gallery_images_path(current_user.id, @gallery.id) %></p>
</div>





<br>
<div>
  <p><%= link_to 'Back to User Profile', user_path(@gallery.user) %></p>
</div>

<br><br><br>
<div>
  <h4><%= link_to 'Back to Main Page', root_path %></h4>
</div>


<br><br><br>

<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<br><br><br>
