

<div><h1>Gallery Show</h1></div>

<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<div>
  <h2><%= @gallery.name %></h2>
  Created by: <%= @gallery.user.user_name %><br>
  Theme: <%= @gallery.theme %><br>
  Blurb: <%= @gallery.blurb %><br>
</div>

<!--
this will be where the images for the gallery display.
consider moving the "about this gallery" info above to
a separate page so that the images/gallery are isolated??
-->

<h3>Choose Gallery Settings</h3>
<%= form_tag(user_galleries_path(current_user.id, @gallery)) do %>
  <%= label_tag :theme_name %>
  <%= collection_select(@gallery, :current_setting_id, Setting.all, :id, :theme_name) %>
  <%= submit_tag %>
<% end %>

<br>
<div>
  <p><%= link_to 'Create Custom Settings', new_user_gallery_setting_path(current_user.id, params[:id]) %></p>
</div>

<br>
<div>
  <p><%= link_to 'View/Edit Custom Settings', user_gallery_settings_path(current_user.id, params[:id]) %></p>
</div>

<br>
<div>
  <p><%= link_to 'Edit Gallery Info', edit_user_gallery_path(@gallery) %></p>
</div>

<br>
<div>
  <p><%= link_to 'View/Edit Images in Gallery', user_gallery_images_path(current_user.id, @gallery.id) %></p>
</div>

<br>
<div>
  <p><%= link_to 'Add Images to Gallery', new_user_gallery_image_path(current_user.id, @gallery.id) %></p>
</div>

<br>
<div>
  <p><%= link_to 'Back to User Show', user_path(@gallery.user) %></p>
</div>
