<body style="background-color:<%= @settings.background_color %>; font-family:<%= @settings.font %>">




<% if @settings.audio %>
  <iframe width="0" height="0" src="https://www.youtube.com/embed/<%=@settings.audio%>?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<% end %>

<br><br><br>



  <h1><center><%= @gallery.name %></center></h1>


      <br><br><br><br><br>


<!-- refactor image-displays using Bootstrap! -->
<% if @images.any? %>
  <% @images.each do |image| %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 offset-1">
        <div class="text-center">
          <%= image_tag image.image.url, class: "img-fluid" %>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <% end %>
<% end %>

  <br><br><br><br><br>

  <% if @gallery_owner.id == session[:user_id] %>
    <br>
    <div>
      <h3><%= link_to 'Back to Edit Gallery', user_gallery_path(current_user.id, @gallery.id)%></h3>
    </div>
  <% end %>

  <div>
    <p><%= link_to 'View Image Details', view_image_details_path(@gallery.id) %></p>
  </div>

  <div>
    <p><%= link_to "View #{@gallery.user.user_name}'s Profile", user_path(@gallery_owner) %></p>
  </div>

  <div>
    <p><%= link_to "Back to View Galleries", search_for_galleries_path %></p>
  </div>

  <div>
    <p><%= link_to "Back to Main Page", root_path %></p>
  </div>


  <br><br><br>



</body>
