<h1>Image Details:</h1>

<% @images.each do |image| %>

  <div>
    <%= image_tag image.image.url %><br>
    Title: <%= image.title %><br>
    Artist: <%= image.artist %><br>
    Medium: <%= image.medium %><br>
  </div>
  <br><br>

<% end %>

<br><br>
<div>
  <p><%= link_to "Back to Gallery", view_published_gallery_path(@gallery) %></p>
</div>
