<h1>Welcome to the GallerySpace main page!</h1>

<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<!-- login -->
<br><br>
<div>
  <%= form_tag(login_path) do %>
    <%= label_tag :user_name %>
    <%= text_field_tag :user_name %><br>
    <%= label_tag :password %>
    <%= password_field_tag :password %><br>
    <%= submit_tag "Login" %>
  <% end %>
</div>

<br><br>
<div>
  <h2><%= link_to 'Search & View Galleries', search_for_galleries_path %></h2>
</div>

<br><br>
<div>
  <h2><%= link_to "Create New User", new_user_path %></h2>
</div>

<br><br>
<div>
  <h2><%= link_to 'Browse Users', users_path %></h2>
</div>
