<br><br><br>

<div><h2>Edit Your Profile:</h2></div>

<div>
  <% if current_user.errors.any? %>
    <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% current_user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
</div>

<div>
  <%= form_for(current_user) do |f| %>
    <%= f.label :user_name %>
    <%= f.text_field :user_name %><br><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br><br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <br><br>
    <h4>Optional Data:</h4>
    <%= f.label :real_name %>
    <%= f.text_field :real_name %><br><br>
    <%= f.label :location %>
    <%= f.text_field :location %><br><br>
    <%= f.label :age %>
    <%= f.number_field :age %><br><br>
    <%= f.label :blurb %>
    <%= f.text_area :blurb %><br><br>
    <%= f.submit %>
  <% end  %>
</div>

<br>
<div>
  <h5><%= link_to 'Delete User', user_path, method: 'delete' %></h5>
</div>

<br>
<div>
  <h5><%= link_to 'Back to Your Profile', user_path(current_user.id) %></h5>
</div>

<br><br>
<div>
  <h4><%= link_to 'Back to Main Page', root_path %></h4>
</div>
