<br><br><br>

<div><h2>New User</h2></div>

<div>
  <% if @user.errors.any? %>
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
</div>

<div>
  <%= form_for(@user) do |f| %>
    <%= f.label :user_name %>
    <%= f.text_field :user_name %><br><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br><br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><br><br><br>
    <h4>Optional Data:</h4>
    <%= f.label :real_name %>
    <%= f.text_field :real_name %><br><br>
    <%= f.label :location %>
    <%= f.text_field :location %><br><br>
    <%= f.label :age %>
    <%= f.number_field :age %><br><br>
    <%= f.label :blurb %>
    <%= f.text_area :blurb %><br><br><br>
    <%= f.submit %>
  <% end  %>
</div>

<br><br><br>
