<br><br><br>

<h2>Show Custom Setting</h2>

<h4>Theme name:</h4>
<%= @setting.theme_name %><br><br>
<h4>Background Color:</h4>
<%= @setting.background_color %><br><br>
<h4>Font:</h4>
<%= @setting.font %><br><br>
<h4>youtube_URL_snippet:</h4>
<%= @setting.youtube_URL_snippet %><br>

<br>
<h4><%= link_to 'Edit This Setting', edit_user_gallery_setting_path(current_user.id, params[:gallery_id], @setting) %></h4>

<br>
<h4><%= link_to 'View Published Gallery', view_published_gallery_path(params[:gallery_id]) %></h4>

<br>
<h5><%= link_to 'Back to Custom Settings', user_gallery_settings_path(current_user.id, params[:gallery_id]) %></h5>

<br>
<h5><%= link_to 'Back to Edit Gallery', user_gallery_path(current_user.id, params[:gallery_id]) %></h5>

<br>
<h5><%= link_to 'Back to Your Profile', user_path(current_user.id) %></h5>

<br>
<h4><%= link_to 'Back to Main Page', root_path %></h4>


<br><br><br>
