<!DOCTYPE html>
<html>
  <head>
    <title>GallerySpace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar fixed-top navbar-dark bg-primary">
      <a class="navbar-brand" href="/">GallerySpace</a>
    </nav>
    <br><br><br>


    <nav class="navbar {min-height: 50px} fixed-bottom navbar-dark botbar">
      <a class="navbar-brand" href="/">Links around page</a>
    </nav>








    <%= yield %>
  </body>



  <!-- <footer>
    Links to navigate around site??
  </footer> -->

</html>
