<div><h1>User Show (Visitor / Other User)</h1></div>

<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<div>
  <h2><%= @user.user_name %></h2>
  Real Name: <%= @user.user_name %><br>
  Location: <%= @user.location %><br>
  Age: <%= @user.age %><br>
  Blurb: <%= @user.blurb %><br>
  <br>
<div>

<div>
  <h3>Galleries by <%= @user.user_name %></h3>
  <% @user.galleries.each do |gallery| %>
    <h4><%= link_to gallery.name, view_published_gallery_path(gallery.id) %></h4>
  <% end %>
</div>

<br>
<div>
  <h3><%= @user.user_name %>'s Friends:</h3>
  <% friends_array = Friend.where(owner_user_id: @user.id) %>
  <% if friends_array.any? %>
    <% friends_array.each do |friend_join| %>
      <% user_friend = User.find(friend_join.target_user_id) %>
      <h4><%= link_to user_friend.user_name, user_path(user_friend) %></h4>
    <% end %>
  <% else %>
    No friends yet!
  <% end %>
</div>


<!-- need a button to "Add to Friends" IF you are logged in!! -->
<br>
<% if logged_in? %>
  <br>
  <div>
    <h3><%= link_to 'Add User to Friends', new_user_friend_path(current_user, params[:id] = @user.id) %></h3>
  </div>
<% end %>

<br>
<div>
  <h3><%= link_to 'Back to Browse Users', users_path %></h3>
</div>


<br>
<div>
  <h3><%= link_to 'Back to Main Page', root_path %></h3>
</div>
