<br><br><br>

<div>
  <h2><%= @user.user_name %></h2>
  Real Name: <%= @user.real_name %><br>
  Location: <%= @user.location %><br>
  Age: <%= @user.age %><br>
  Blurb: <%= @user.blurb %><br>
  <br>
<div>

<div>
  <h3>Galleries by <%= @user.user_name %></h3>
  <% @user.galleries.each do |gallery| %>
    <%= link_to gallery.name, view_published_gallery_path(gallery.id) %><br><br>
  <% end %>
</div>

<br>
<div>
  <h3><%= @user.user_name %>'s Friends:</h3>
  <% friends_array = Friend.where(owner_user_id: @user.id) %>
  <% if friends_array.any? %>
    <% friends_array.each do |friend_join| %>
      <% if User.exists?(friend_join.target_user_id) %>
        <% user_friend = User.find(friend_join.target_user_id) %>
          <%= link_to user_friend.user_name, user_path(user_friend) %><br><br>
      <% end %>
    <% end %>
  <% else %>
    No friends yet!
  <% end %>
</div>


<br>
<% if logged_in? %>
  <br>
  <div>
    <h5><%= link_to 'Add This User to Your Friends', new_user_friend_path(current_user, params[:id] = @user.id) %></h5>
  </div>
<% end %>

<br><br><br>
<div>
  <h4><%= link_to 'Back to Main Page', root_path %></h4>
</div>

<br><br><br>

<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>
