<div><h1>User Show (Self - you are logged in)</h1></div>

<div>
  <h2><%= current_user.user_name %></h2>
  Real Name: <%= current_user.user_name %><br>
  Location: <%= current_user.location %><br>
  Age: <%= current_user.age %><br>
  Blurb: <%= current_user.blurb %><br>
  <br>
<div>

<div>
  <h3>Edit your Galleries:</h3>
  <% current_user.galleries.each do |gallery| %>
    <h4><%= link_to gallery.name, gallery_path(gallery) %> - view <%= link_to 'published version', view_published_gallery_path(gallery.id) %></h4>
  <% end %>
</div>

<br>
<div>
  <h3>Your Friends:</h3>
  <% friends_array = Friend.where(owner_user_id: current_user.id) %>
  <% if friends_array.any? %>
    <% friends_array.each do |friend_join| %>
      <% user_friend = User.find(friend_join.target_user_id) %>
      <h4><%= link_to user_friend.user_name, user_path(user_friend) %></h4>
    <% end %>
  <% else %>
    No friends yet!
  <% end %>
</div>

<br>
<br>
<div>
  <p><%= link_to 'Create New Gallery', new_user_gallery_path(user_id: current_user.id) %></p>
</div>

<br>
<div>
  <p><%= link_to 'Edit User', edit_user_path(current_user) %></p>
</div>

<br>
<div>
  <h3><%= link_to 'Back to User Index', users_path %></h3>
</div>
