

<!-- DEPRECATED - DELETE ENTIRE FILE??? -->



<h1>Create new friendship</h1>

<br>
<h2>DEPRECATE THIS VIEW!!</h2>
<h2>New Friends should be created using the current_user (owner_user_id) and the user whose profile was linked from (target_user_id)</h2>
<br><br>

<%= form_tag("/users/:id/friends/", method: "post") do %>
  <%= label_tag(:target_user_id, "Select target user:")%>
  <%= collection_select(:friend, :target_user_id, User.all.order(:user_name), :id, :user_name) %>
  <%= hidden_field_tag 'friend[owner_user_id]', current_user.id %>
  <%= submit_tag %>
<% end %>
