<br><br><br>

<h2>Image Details:</h2>

<% @images.each do |image| %>

  <div>
    <%= image_tag image.image.url %><br>
    Title: <%= image.title %><br>
    Artist: <%= image.artist %><br>
    Medium: <%= image.medium %><br>
  </div>
  <br><br>

<% end %>

<br><br>
<div>
  <h4><%= link_to "Back to Gallery", view_published_gallery_path(@gallery) %></h4>
</div>

<br><br><br>
<div>
  <h4><%= link_to 'Back to Main Page', root_path %></h4>
</div>


<br><br><br>
