<h1>Change settings</h1>
<%=form_for(@setting) do |f|%>
<%=f.label :theme_name%><br>
<%=f.text_field :theme_name%><br>
<%=f.label :background_color%><br>
<%=f.collection_select :background_color, @background_colors, :itself, :itself%><br>
<%=f.label :font%><br>
<%=f.collection_select :font, @font, :itself, :itself%><br>
<%=f.label :audio%><br>
(EXAMPLE: https://www.youtube.com/watch?v=<i><b>VB6SIKl8Md0</b></i>)<br>
<%=f.text_field :audio%><br>
<%=f.submit%>
<%end%>
