<h1>Change settings</h1>

<%= form_tag(user_gallery_setting_path(current_user.id, params[:gallery_id], @setting), :method => :patch) do %>
  <%= label_tag :theme_name %>
  <%= text_field_tag "setting[theme_name]", @setting.theme_name %><br>
  <%= label_tag :background_color %>
  <%= collection_select("setting", :background_color, @background_colors, :itself, :itself) %><br>
  <%= label_tag :font %>
  <%= collection_select("setting", :font, @font, :itself, :itself) %><br>
  <br>
  <%= label_tag :audio %> - Please enter the section of a Youtube URL after "/watch?v="
  <br>(EXAMPLE: https://www.youtube.com/watch?v=<i><b>VB6SIKl8Md0</b></i>)<br>
  <%= text_field_tag "setting[audio]", @setting.audio %><br>
  <%= submit_tag %>
<% end %>

<br>
<br>
<div>
  <p><%= link_to 'Delete Settings', user_gallery_setting_path(current_user.id, params[:gallery_id], @setting), method: 'delete' %></p>
</div>
