<h1>Make new settings</h1>
<%=form_tag(user_gallery_settings_path(current_user.id, params[:gallery_id])) do%>
<%=label_tag :theme_name%>
<%=text_field_tag("setting[theme_name]")%>
<%=label_tag :background_color%>
<%=collection_select("setting", :background_color, @background_colors, :itself, :itself)%>
<%=label_tag :font%>
<%=collection_select("setting", :font, @font, :itself, :itself)%>
<%=label_tag :audio%>
<%=text_field_tag("setting[audio]")%>
<%=submit_tag "submit"%>
<%end%>
