<h1>See setting</h1>
<h3>Theme name:</h3>
<%=@setting.theme_name%>
<h3>Background Color:</h3>
<%=@setting.background_color%>
<h3>Font:</h3>
<%=@setting.font%>
<h3>Audio:</h3>
<%=@setting.youtube_URL_snippet%><br>

<br>
<%=link_to 'Choose Gallery Settings', edit_gallery_path%><br>

<%=link_to 'View Published Gallery', view_published_gallery_path%>
